@import 'reset';

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
}

#street-view {
  width: 100vw;
  height: 100vh;
}

#map {
  height: 100%;
  width: 0;
}

#pano {
  z-index: 100;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

main {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 0;
}

input:focus {
  outline: 0;
}

.login-field input[type='text']::placeholder {
  color: white;
  opacity: 1;
}

.input-test {
  width: 98%;
  height: 50px;
  margin-left: 10px;
  border: 3px solid #3498db;
  border-radius: 5px;
  padding: 5px;
  font-size: 4em;
  color: grey;
}

.login-page {
  height: 100%;
  width: 100%;
  background-image: url('../assets/img/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

.logoSide {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 65px;
  background-color: #3498db;
}

.logoSide img {
  height: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.login-field {
  padding: 20px;
  font-family: Raleway, sans-serif;
}

.logo {
  width: 300px;
  margin-bottom: 100px;
}

.naam-form {
  width: 380px;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 2.4em;
}

.login-field input[type='text'] {
  width: 460px;
  font-family: Raleway, sans-serif;
  font-size: 2.5em;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
  border: 2px solid white;
}

.login-field button {
  position: absolute;
  right: 20px;
  border-radius: 100px;
  font-family: Raleway, sans-serif;
  font-size: 1.3em;
  padding: 10px 30px;
  bottom: 30px;
  color: white;
  cursor: pointer;
  transition: all .3s;
  background-color: transparent;
  border: 2px solid white;
}

.login-field button[type='submit']:hover {
  background-color: white;
  color: #2980b9;
}

.enter-to-enter {
  position: absolute;
  bottom: 10px;
  font-size: 1.2em;
  color: white;
  right: 40px;
}

.error {
  color: #e74c3c;
  font-size: .6em;
  padding-top: 10px;
}

.input-error {
  border-bottom: 2px solid #e74c3c;
}

.naamlabel {
  font-size: 4.3em;
  color: #3498db;
}

.sidebar {
  background-color: white;
  width: 20%;
  z-index: 102;
  height: 100%;
  font-family: Raleway, sans-serif;
  position: absolute;
  left: 0;
  padding: 20px;
  padding-top: 100px;
  top: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.sidebar h2 {
  padding: 20px 0;
  font-size: 2em;
  color: #3498db;
  padding-bottom: 10px;
  border-bottom: 1px solid #3498db;
  margin-bottom: 15px;
}

.sidebar h3 {
  padding: 10px 0;
  font-size: 1.5em;
}

.link {
  color: #3498db;
  font-size: 1.5em;
  text-decoration: none;
  padding: 20px;
  border: 1px solid #3498db;
  background-image: url('../assets/img/buttonbg.png');
  background-position: right center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.link img {
  cursor: pointer;
}

.link p {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
}

#userMap {
  width: 80%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.titleVisiting {
  position: absolute;
  z-index: 100;
  color: white;
  color: black;
  font-size: 2em;
  padding: 22px;
  width: 80%;
  right: 0;
  top: 0px;
  padding-left: 30px;
  background-color: #1abc9c;
  color: white;
  text-align: center;
  font-family: Raleway, sans-serif;
}

.uitleg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-family: Raleway, sans-serif;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/img/tweede.png');
}

.uitleg h1 {
  font-size: 3em;
  text-align: center;
  padding: 10px;
  color: #3498db;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1px;
}

.uitleg h2 {
  font-size: 1.5em;
  text-align: center;
  color: gray;
}

.listeningtext {
  font-size: 1.5em;
  text-align: center;
  color: #3498db;
  margin-bottom: 20px;
  display: none;
}

.uitleg input {
  width: 300px;
  font-size: 1.5em;
  text-align: center;
  padding: 10px;
  color: #3498db;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.postuitleg {
  position: absolute;
  left: 20px;
  top: 50px;
  z-index: 300;
  display: none;
}

.postmicro {
  width: 50px;
  cursor: pointer;
  height: 50px;
  float: left;
}

.postuitleg form {
  float: left;
}

.postuitleg input {
  width: 300px;
  font-size: 1.5em;
  text-align: left;
  padding: 10px;
  color: #3498db;
  border: none;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.backbtn {
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 1000;
}

.errorvoorview {
  position: absolute;
  left: 50%;
  top: 100px;
  z-index: 1000;
  background-color: #e74c3c;
  padding: 10px;
  color: white;
  font-size: 1.3em;
  font-family: Raleway, sans-serif;
  transform: translate(-50%,-50%);
  display: none;
}

.gm-iv-address {
  display: none !important;
}

.postuitleg input[type='text']::placeholder {
  color: #c3c3c3;
}

.uitleg input[type='text']::placeholder {
  color: #c3c3c3;
}

.micro {
  width: 100px;
  margin: 30px auto;
  margin-bottom: 10px;
  cursor: pointer;
  display: block;
}

.game-page {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

.game-content {
  padding: 10px;
  width: 80%;
}

.image-holders {
  display: flex;
  justify-content: space-between;
}

.back-button {
  margin-top: 10px;
}

.sidebar-name {
  display: flex;
  font-weight: 600;
  justify-content: space-between;
}

.sidebar-name h1 {
  padding-top: 10px;
  color: white;
  font-size: 2.5em;
  text-transform: capitalize;
}

.sidebar-item, .sidebar-uitleg {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.sidebar-item h1 {
  text-transform: capitalize;
}

.sidebar-uitleg {
  margin: 20px 0 10px;
  color: #34495e;
}

.image-holder {
  width: 33.33%;
  padding: 10px;
}

.image-holder div {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 3px solid #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url('../assets/svg/plus.png');
  background-repeat: no-repeat;
  background-position: center;
}

.image-holder div img {
  width: 100%;
}

.keyword {
  width: 100%;
  text-align: center;
  color: #2980b9;
}

.keyword h1 {
  font-family: Raleway, sans-serif;
  font-weight: 600;
  font-size: 4em;
  margin-top: 30px;
}

.message, .listenMessage {
  width: 100%;
  font-family: Raleway, sans-serif;
  font-size: 2em;
  text-align: center;
  color: #3498db;
}

.listenMessage {
  padding-bottom: 100px;
}

.modal {
  padding: 0 0 25px;
  padding-bottom: 35px;
}

.modal h1 {
  font-family: Raleway, sans-serif;
  background-color: #3498db;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 25px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.modal p {
  font-family: helvetica, sans-serif;
  padding: 25px;
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 25px;
}

.modal p b {
  font-weight: bolder;
  color: #3498db;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 28px;
}

.modal p span {
  color: #3498db;
  font-weight: bold;
}

.modal a {
  margin-left: 25px;
  margin-bottom: 15px;
  color: #3498db;
  border: 3px solid #3498db;
  font-weight: bold;
  background: none;
  font-size: 14px;
  padding: 10px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all .3s ease;
}

.modal a:hover {
  color: white;
  background: #3498db;
}

.gotopageview {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  background-color: white;
}

.help-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-image: url('../assets/svg/help.png');
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  transition: all .3s;

}

.help-button:hover {
  background-image: url('../assets/svg/help2.png');
}
